@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfaf6;
  font-family: 'Inter', sans-serif;
  color: #4b2e2e;
}


@layer utilities {
  .bg-background {
    background-color: theme('colors.background', '#F8F5F2');
    /* có fallback */
  }
}