@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* Màu nền tổng thể, đảm bảo bạn muốn màu này */
    background-color: #fdfaf6;
    /* Font chữ tổng thể */
    font-family: 'Inter', sans-serif;
    /* Màu chữ mặc định */
    color: #4b2e2e;
    /* Các thiết lập cơ bản khác */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Định nghĩa cho thanh cuộn tùy chỉnh */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}